@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Raleway:200");

.link-color {
  padding: 2px 1px 1px;
  cursor: pointer;
  background-image: linear-gradient(
    transparent 0,
    transparent calc(50% - 9px),
    rgb(219, 86, 34) calc(50% - 9px),
    rgba(219, 80, 34, 0.445) 100%
  );
  transition: all 230ms ease-in-out 0s;
  background-size: 100% 230%;
  background-position: 0 0;
  word-break: break-word;
}
.link-color:hover {
  color: white;
  background-image: linear-gradient(
    transparent 0,
    transparent calc(50% - 9px),
    rgba(219, 86, 34, 0.771) calc(50% - 9px),
    rgba(219, 86, 34, 0.741) 100%
  );
  background-position: 0 100%;
}

.circle {
  position: absolute;
  width: 10px;
  height: 30px;
  border-radius: 33.45px 0px 22.85px 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}

/* Hover do Header  */
.header-item::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.header-item:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header-item::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  z-index: -1;
  transition: transform 0.2s ease;
}

#Eu::before {
  background-color: rgb(126 34 206);
}

#Posts::before {
  background-color: rgb(194 65 12);
}
#Sobre::before {
  background-color: rgb(22 101 52);
}

#Globo::before {
  background-color: rgb(14 116 144);
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
ul::selection,
li::selection,
strong::selection,
span::selection,
h4::selection {
  color: white;
  background: #538083;
}

@keyframes rotation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Barra de progressão dos artigos */
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: rgb(165, 152, 255);
  transform-origin: 0%;
  z-index: 999;
}

/* TODO: Ver se tira o before e after pq ta tendo um pequeno bug */
.gradient::before,
.gradient::after {
  content: "";
  min-width: 90px;
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    45deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: inherit;
  background-size: 300% 300%;
  animation: rotation 20s linear infinite;
}

.gradient:hover {
  transform: skew(-5deg);
  transition: all ease 100ms;
}

.container {
  width: 100%;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .container:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}

.marker {
  height: 0.7rem;
  border-radius: 100%;
  width: 0.7rem;
  cursor: pointer;
}

#marker-orange {
  border: 2px solid rgb(255, 123, 0);
  background-color: rgb(255, 123, 0);
  box-shadow: 0 0 10px 2px rgb(255, 123, 0);
  animation: alert 2.1s infinite alternate;
}

#marker-blue {
  border: 2px solid rgb(0, 183, 255);
  background-color: rgb(0, 183, 255);
  box-shadow: 0 0 10px 2px rgb(0, 183, 255);
  animation: alert 2.2s infinite alternate;
}
#marker-green {
  border: 2px solid rgb(102, 255, 0);
  background-color: rgb(102, 255, 0);
  box-shadow: 0 0 10px 2px rgb(102, 255, 0);
  animation: alert 2.3s infinite alternate;
}
#marker-purple {
  border: 2px solid rgb(183, 0, 255);
  background-color: rgb(183, 0, 255);
  box-shadow: 0 0 10px 2px rgb(183, 0, 255);
  animation: alert 2.4s infinite alternate;
}
#marker-red {
  border: 2px solid rgb(255, 0, 64);
  background-color: rgb(255, 0, 64);
  box-shadow: 0 0 10px 2px rgb(255, 0, 64);
  animation: alert 2.5s infinite alternate;
}
#marker-white {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px rgb(255, 255, 255);
  animation: alert 2.6s infinite alternate;
}
#marker-yellow {
  border: 2px solid rgb(246, 255, 0);
  background-color: rgb(246, 255, 0);
  box-shadow: 0 0 10px 2px rgb(246, 255, 0);
  animation: alert 2.7s infinite alternate;
}

@keyframes alert {
  0% {
    box-shadow: none;
  }
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #16141c;
}

::-webkit-scrollbar-thumb {
  background-color: #c2410c;
  border-radius: 10px;
}

.formula-text {
  font-family: "Cambria Math", "monospace", "Courier New", serif;
}

/*
Callout 
==========================================
Para adicionar um estilo novo
https://r4ai.github.io/remark-callout/playground/ 
*/
[data-callout] {
  margin: 1.5rem 0;
  padding: 1rem;
  padding-bottom: 1.25rem;
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: rgba(59, 130, 246, 0.1); /* Azul padrão para "note" */
  border-color: rgba(30, 64, 175, 0.2);
}

/* Warning */
[data-callout][data-callout-type="warning"] {
  background-color: rgba(234, 179, 8, 0.1); /* Amarelo */
  border-color: rgba(202, 138, 4, 0.2);
}

/* Callout Title */
[data-callout] > [data-callout-title] {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  font-weight: bold;
  color: rgb(59, 130, 246); /* Azul para "note" */
}

/* Warning Title */
[data-callout][data-callout-type="warning"] > [data-callout-title] {
  color: rgb(202, 138, 4); /* Amarelo para "warning" */
}

/* Ajuste de espaçamento */
[data-callout] > [data-callout-title]:not(:only-child) {
  margin-bottom: 0.5rem;
}

/* Ícones por tipo */
[data-callout] > [data-callout-title]::before {
  display: block;
  margin-top: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-size: cover;
  content: "";
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTE3IDNhMi44NSAyLjgzIDAgMSAxIDQgNEw3LjUgMjAuNUwyIDIybDEuNS01LjVabS0yIDJsNCA0Ii8+PC9zdmc+"); /* Ícone lápis para "note" */
}

[data-callout][data-callout-type="warning"] > [data-callout-title]::before {
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0ibTIxLjczIDE4bC04LTE0YTIgMiAwIDAgMC0zLjQ4IDBsLTggMTRBMiAyIDAgMCAwIDQgMjFoMTZhMiAyIDAgMCAwIDEuNzMtM00xMiA5djRtMCA0aC4wMSIvPjwvc3ZnPg=="); /* Ícone de alerta para "warning" */
}

/* Corpo do Callout */
[data-callout] > [data-callout-body] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.kuNmSb {
  --columns: 12;
  --content-width: min(96%, 1842px);
  --content: repeat(
    var(--columns),
    calc(var(--content-width) / var(--columns))
  );
  display: grid;
  grid-template-columns: 1fr var(--content) 1fr;
  gap: 0px;
  position: relative;
}

/* Add this grain effect overlay */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://hex.tech/images/bkg-noise.webp");
  background-repeat: repeat;
  background-size: 200px 200px;
  pointer-events: none;
  opacity: 0.325;
  mix-blend-mode: soft-light;
  z-index: 1; 
}
