@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Raleway:200");

.link-color {
  padding: 2px 1px 1px;
  cursor: pointer;
  background-image: linear-gradient(
    transparent 0,
    transparent calc(50% - 9px),
    rgba(239, 73, 8, 0.689) calc(50% - 9px),
    rgba(239, 74, 8, 0.445) 100%
  );
  transition: all 230ms ease-in-out 0s;
  background-size: 100% 230%;
  background-position: 0 0;
  word-break: break-word;
}
.link-color:hover {
  color: white;
  background-image: linear-gradient(
    transparent 0,
    transparent calc(50% - 9px),
    rgba(194, 65, 12, 0.771) calc(50% - 9px),
    rgba(194, 65, 12, 0.741) 100%
  );
  background-position: 0 100%;
}

.circle {
  position: absolute;
  width: 10px;
  height: 30px;
  border-radius: 33.45px 0px 22.85px 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}

/* Hover do Header  */
.header-item::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.header-item:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header-item::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  z-index: -1;
  transition: transform 0.2s ease;
}

#Me::before {
  background-color: rgb(126 34 206);
}

#Posts::before {
  background-color: rgb(194 65 12);
}
#Taxco::before {
  background-color: rgb(22 101 52);
}

#World::before {
  background-color: rgb(14 116 144);
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
ul::selection,
li::selection,
strong::selection,
span::selection,
h4::selection {
  color: white;
  background: #538083;
}

@keyframes rotation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Barra de progressão dos artigos */
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: rgb(165, 152, 255);
  transform-origin: 0%;
  z-index: 999;
}

/* TODO: Ver se tira o before e after pq ta tendo um pequeno bug */
.gradient::before,
.gradient::after {
  content: "";
  min-width: 90px;
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    45deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: inherit;
  background-size: 300% 300%;
  animation: rotation 20s linear infinite;
}

.gradient:hover {
  transform: skew(-5deg);
  transition: all ease 100ms;
}

.container {
  width: 100%;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .container:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}

.marker {
  height: 0.5rem;
  border-radius: 100%;
  width: 0.5rem;
  cursor: pointer;
}

#marker-orange {
  border: 2px solid rgb(255, 123, 0);
  background-color: rgb(255, 123, 0);
  box-shadow: 0 0 10px 2px rgb(255, 123, 0);
  animation: alert 2.1s infinite alternate;
}

#marker-blue {
  border: 2px solid rgb(0, 183, 255);
  background-color: rgb(0, 183, 255);
  box-shadow: 0 0 10px 2px rgb(0, 183, 255);
  animation: alert 2.2s infinite alternate;
}
#marker-green {
  border: 2px solid rgb(102, 255, 0);
  background-color: rgb(102, 255, 0);
  box-shadow: 0 0 10px 2px rgb(102, 255, 0);
  animation: alert 2.3s infinite alternate;
}
#marker-purple {
  border: 2px solid rgb(183, 0, 255);
  background-color: rgb(183, 0, 255);
  box-shadow: 0 0 10px 2px rgb(183, 0, 255);
  animation: alert 2.4s infinite alternate;
}
#marker-red {
  border: 2px solid rgb(255, 0, 64);
  background-color: rgb(255, 0, 64);
  box-shadow: 0 0 10px 2px rgb(255, 0, 64);
  animation: alert 2.5s infinite alternate;
}
#marker-white {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px rgb(255, 255, 255);
  animation: alert 2.6s infinite alternate;
}
#marker-yellow {
  border: 2px solid rgb(246, 255, 0);
  background-color: rgb(246, 255, 0);
  box-shadow: 0 0 10px 2px rgb(246, 255, 0);
  animation: alert 2.7s infinite alternate;
}

@keyframes alert {
  0% {
    box-shadow: none;
  }
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #16141c;
}

::-webkit-scrollbar-thumb {
  background-color: #c2410c;
  border-radius: 10px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #c2410c #16141c;
}
