@tailwind base;
@tailwind components;
@tailwind utilities;

.link-color {
  padding: 2px 1px 1px;
  cursor: pointer;
  background-image: linear-gradient(
    transparent 0,
    transparent calc(50% - 9px),
    rgba(85, 0, 255, 0.45) calc(50% - 9px),
    rgba(86, 8, 255, 0.445) 100%
  );
  transition: all 230ms ease-in-out 0s;
  background-size: 100% 230%;
  background-position: 0 0;
  word-break: break-word;
}
.link-color:hover {
  color: white;
  background-image: linear-gradient(
    transparent 0,
    transparent calc(50% - 9px),
    rgba(85, 0, 255, 0.771) calc(50% - 9px),
    rgba(85, 0, 255, 0.741) 100%
  );
  background-position: 0 100%;
}

.circle {
  position: absolute;
  width: 10px;
  height: 30px;
  border-radius: 33.45px 0px 22.85px 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}

/* Hover do Header  */
.header-item::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.header-item:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header-item::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  z-index: -1;
  transition: transform 0.2s ease;
}

#He::before {
  background-color: rgb(126 34 206);
}
#She::before {
  background-color: rgb(252 211 77);
}
#Us::before {
  background-color: rgb(253 186 116);
}
#About::before {
	background-color: rgb(187 247 208);
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
ul::selection,
li::selection,
strong::selection,
span::selection,
h4::selection {
  color: white;
  background: #a2a2a2;
}
